.header-borrar{
    background-color: #b74141;
}
.body-borrar {
    background-color: #a72f2fd1; 
    color: white;
}
.footer-borrar {
    background-color: #b32222d1;
}
.contenedor {
    padding-top: 7%;
    color: white;
}
.no-encontrada {
    padding-top: 1%;
}
.link-ne {
    color: white;
    font-size: 173%;
    margin: 1%;
}